<div>
    {{#if isDisable}}
        {{#each elements}}
            <button disabled id="contact-button-{{this.phone}}" onclick="window.location.href='update?phone={{this.phone}}'">{{this.name}} {{this.phone}}</button><br/>
        {{/each}}
    {{else}}
        {{#each elements}}
            <button id="contact-button-{{this.phone}}" onclick="window.location.href='update?phone={{this.phone}}'">{{this.name}} {{this.phone}}</button><br/>
        {{/each}}
    {{/if}}
</div>